
\.DS_Store

*.pyc

# IDE
\.idea/
.vscode/

data-profiler/

data-profiler-py2/

data-profiler-py3/

DataProfiler/

examples/

feature_branch/

build/

dist/

smart_data_profiler\.egg-info/

venv3/

data_profiler.egg-info/*

**~
venv/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.coverage
*.xml

*.orig
dataprofiler/labelers/embeddings/glove-reduced-64D.txt

.torchignore
