repos:
  # Black: format Python code
  # https://github.com/psf/black/blob/master/.pre-commit-hooks.yaml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        types: [file, python]
        language_version: python3
  # Isort: sort import statements
  # https://github.com/timothycrosley/isort/blob/develop/.pre-commit-hooks.yaml
  # The setup.cfg holds the compatible config for use with black
  # https://github.com/psf/black/blob/master/docs/compatible_configs.md#isort
  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3
  # Flake8: complexity and style checking
  # https://flake8.pycqa.org/en/latest/user/using-hooks.html
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings]
        exclude: (^docs/|^dataprofiler/tests/|^.*/__init__.py)
        language_version: python3
  # General fixers: format files for white spaces and trailing new lines, warn on debug statements
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: (^dataprofiler/tests/data/|^dataprofiler/tests/speed_tests/data/)
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: (^dataprofiler/tests/data/)
  # Mypy: Optional static type checking
  # https://github.com/pre-commit/mirrors-mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
      - id: mypy
        exclude: (^dataprofiler/tests/|^resources/|^examples|venv*/)
        language_version: python3
        additional_dependencies: # Keep up-to-date with the respective requirement files
          [
            # requirements.txt
            h5py>=2.10.0,
            wheel>=0.33.1,
            numpy<2.0.0,
            pandas>=1.1.2,
            python-dateutil>=2.7.5,
            pytz>=2020.1,
            pyarrow>=1.0.1,
            chardet>=3.0.4,
            fastavro>=1.0.0.post1,
            python-snappy>=0.7.1,
            charset-normalizer>=1.3.6,
            psutil>=4.0.0,
            scipy>=1.4.1,
            requests>=2.28.1,
            networkx>=2.5.1,
            typing-extensions>=3.10.0.2,
            HLL>=2.0.3,
            datasketches>=4.1.0,
            boto3>=1.28.61,

            # requirements-dev.txt
            check-manifest>=0.48,
            black==22.3.0,
            isort==5.12.0,
            pre-commit==2.19.0,
            tox==3.25.1,
            types-setuptools==67.7.0.1,
            types-python-dateutil==2.8.19.12,
            types-requests==2.30.0.0,
            types-chardet==5.0.4.5,
            types-six==1.16.21.8,

            # requirements-ml.txt
            scikit-learn>=0.23.2,
            'keras>=2.4.3,<=3.4.0',
            rapidfuzz>=2.6.1,
            "tensorflow>=2.6.4,<2.15.0; sys.platform != 'darwin'",
            "tensorflow>=2.6.4,<2.15.0; sys_platform == 'darwin' and platform_machine != 'arm64'",
            "tensorflow-macos>=2.6.4,<2.15.0; sys_platform == 'darwin' and platform_machine == 'arm64'",
            tqdm>=4.0.0,

            # requirements-reports.txt
            'matplotlib>=3.3.3,<3.6.1',
            seaborn>=0.11.1,

            # requirements-test.txt
            coverage>=5.0.1,
            dask>=2.29.0,
            fsspec>=0.3.3,
            pytest>=6.0.1,
            pytest-cov>=2.8.1,
            pytest-xdist>=2.1.0,
            pytest-forked>=1.3.0,
            toolz>=0.10.0,
            'memray>=1.7.0,<1.12.0',
          ]
  # Check-manifest: ensures required non-Python files are included in MANIFEST.in
  # https://github.com/mgedmin/check-manifest/blob/master/.pre-commit-hooks.yaml
  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.48"
    hooks:
      - id: check-manifest
        additional_dependencies: ['h5py', 'wheel', 'future', 'numpy<2.0.0', 'pandas',
        'python-dateutil', 'pytz', 'pyarrow', 'chardet', 'fastavro',
        'python-snappy', 'charset-normalizer', 'psutil', 'scipy', 'requests',
        'networkx','typing-extensions', 'HLL', 'datasketches', 'boto3']
  # Pyupgrade - standardize and modernize Python syntax for newer versions of the language
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.0
    hooks:
      - id: pyupgrade
        args: ["--py38-plus"]
  # Autoflake - cleanup unused variables and imports
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.0
    hooks:
      - id: autoflake
        args:
          - "--in-place"
          - "--ignore-pass-statements"
