include *.ini
include *.md
include *.rst
include *.txt
include *.toml

recursive-include tests *.py
recursive-include docs *.py
recursive-include docs *.rst

recursive-include {{cookiecutter.project_slug}} *.sql
recursive-include {{cookiecutter.project_slug}} *.yml
recursive-include {{cookiecutter.project_slug}} *.yaml
