h5py>=2.10.0
wheel>=0.33.1
future>=0.18.2
numpy>=1.18.5
pandas>=1.1.2
python-dateutil>=2.7.5
pytz>=2020.1
six>=1.15.0
pyarrow>=1.0.1
chardet>=3.0.4
fastavro>=1.0.0.post1
python-snappy>=0.5.4
h5py>=2.10.0
