h5py>=2.10.0
wheel>=0.33.1
numpy<2.0.0
pandas>=1.1.2
python-dateutil>=2.7.5
pytz>=2020.1
pyarrow>=1.0.1
chardet>=3.0.4
fastavro>=1.1.0
python-snappy>=0.7.1
charset-normalizer>=1.3.6
psutil>=4.0.0
scipy>=1.10.0
requests==2.32.*
networkx>=2.5.1
typing-extensions>=3.10.0.2
HLL>=2.0.3
datasketches>=4.1.0
packaging>=23.0
boto3>=1.28.61
# adding comment to trigger mend check
