python.resolveDependencies=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.resolveSetupPyFiles=true
python.ignoreSourceFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.path=python3.8
python.pipPath=pip3.8
